@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
    html {
        font-family: gomme-sans, system-ui, sans-serif;
    }
} */

@font-face {
    font-family: 'Gomme-Sans';
    font-weight: normal;
    font-style: normal;
         
    src: url("../../public/fonts/Gomme-Sans/Regular.otf"),
         url("../../public/fonts/Gomme-Sans/Bold.otf"),
         url("../../public/fonts/Gomme-Sans/Bold_Italic.otf"),
         url("../../public/fonts/Gomme-Sans/ExtraBold.otf"),
         url("../../public/fonts/Gomme-Sans/ExtraBold_Italic.otf"),
         url("../../public/fonts/Gomme-Sans/ExtraLight.otf"),
         url("../../public/fonts/Gomme-Sans/ExtraLight_Italic.otf"),
         url("../../public/fonts/Gomme-Sans/Italic.otf"),
         url("../../public/fonts/Gomme-Sans/Light.otf"),
         url("../../public/fonts/Gomme-Sans/Light_Italic.otf"),
         url("../../public/fonts/Gomme-Sans/SemiBold.otf"),
         url("../../public/fonts/Gomme-Sans/SemiBold_Italic.otf");
}

/* Scroll bar stylings */
::-webkit-scrollbar {
    width: 6px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1f2937;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #374151;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #374151;
}